In [1]:
import numpy as np
import pandas as pd

In [5]:
baskets0 = pd.read_parquet('files/market-baskets.parquet')#.head(50_000)
del baskets0["customer"]

In [6]:
baskets = baskets0.head(50_000)

In [14]:
baskets

       product    basket
0           51  00000000
1          113  00000000
2          154  00000000
3          165  00000000
4          185  00000000
...        ...       ...
49995      299  01003074
49996       38  01003075
49997       84  01003075
49998      118  01003075
49999      126  01003075

[50000 rows x 2 columns]

In [17]:
baskets['product'].nunique()

300

In [18]:
basketsList = list(baskets.basket.unique())
n_products = 300

In [26]:
base = pd.DataFrame(
    {
    'basket': np.array([[x] * n_products for x in basketsList]).flatten(),
    'product': np.array([range(n_products)  for x in range(len(basketsList))]).flatten(),
    }
    )

In [27]:
base

           basket  product
0        00000000        0
1        00000000        1
2        00000000        2
3        00000000        3
4        00000000        4
...           ...      ...
2421895  01003075      295
2421896  01003075      296
2421897  01003075      297
2421898  01003075      298
2421899  01003075      299

[2421900 rows x 2 columns]

In [ ]:
n_baskets = base['basket'].nunique()

matrix = np.matrix([np.array(base.iloc[x*250:x*250+250,:].loc[:,'isBought']) for x in range(n_baskets)]).astype(int)

occurency_matrix = matrix.T.dot(matrix)
occurency_matrix[occurency_matrix > 1] = 1

sns.set(rc={'figure.figsize':(6,5)})
sns.heatmap(occurency_matrix, annot=False)
plt.savefig("full.png")