In [3]:
import pandas as pd

In [4]:
pd.read_parquet('files/market-baskets.parquet')

         customer  product     basket
0               0       51   00000000
1               0      113   00000000
2               0      154   00000000
3               0      165   00000000
4               0      185   00000000
...           ...      ...        ...
6172896      4998      285  199004998
6172897      4999       12  199004999
6172898      4999       52  199004999
6172899      4999      150  199004999
6172900      4999      178  199004999

[6172901 rows x 3 columns]